/**
 * Frame block
 *
 * @author Takuto Yanagida
 * @version 2022-03-15
 *
 * The following styles get applied inside the editor only.
 */

.wp-block-wpinc-frame:is(.is-selected, .has-child-selected) {
	padding: 1.25rem;

	outline      : dotted 1px var(--wp-admin-theme-color);
	border-radius: 1px;

	position: relative;
	&::before {
		content    : attr(data-container-label);
		position   : absolute;
		top        : 0;
		left       : 0;
		border     : 2px solid transparent;
		color      : var(--wp-admin-theme-color);
		text-shadow: 0 0 2px #fff;
		font-size  : 0.75rem;
		line-height: 1;
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		> *:first-child {
			margin-block-start: 0;
		}
		> *:last-child {
			margin-block-end: 0;
		}
	}
}
